{% extends "FOSUserBundle:Base:base.html.twig" %}


{% block fos_user_content %}
{# {% include "FOSUserBundle:Profile:show_content.html.twig" %} #}


    
    <div class="ui container">
        <div class="ui grid margin0">
        	<div class="ui row">
	           <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
		            {# {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'foo'} %} #}
		            <div>
		            	<p>This is di first</p>
		            </div>
		       </div>
		       <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
		            {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'foo'} %}
		       </div>
		       <div class="sixteen wide mobile sixteen wide tablet four wide computer column">
		            {# {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'foo'} %} #}
		            <div>
		            	<p>This is di first</p>
		            </div>
		       </div>
		    </div>
        </div>
    </div>
{% endblock fos_user_content %}
