<div class="ui container">
    <div class="ui grid margin0">
        <div class="fourteen wide mobile eight wide computer column">
            <h3>Get In Touch</h3>
           
            <p class="small">Or, email us at support@tyontech.com</p>
        </div>
       
    </div>
</div>