<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Tyon Technology {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="assets/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/salespages.css">
    <link rel="stylesheet" href="assets/css/slider-css/component.css">
    <link rel="stylesheet" href="assets/css/slider-css/demo.css">
    <link rel="stylesheet" href="assets/css/slider-css/normalize.css">
    <link rel="stylesheet" type="text/css" href="assets/css/icon.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="assets/js/semantic.min.js"></script>
    <script src="assets/js/slider-js/modernizr.min.js"></script>
</head>

<body>
    <header>
        <div class="d-header">
            <div class="ui container">
                <div class="ui grid margin0">
                    <div class="sixteen wide column">
                        <div class="logo">
                            <a href="https://www.tyontech.com/"><img src="image/man.jpg" width="100%"></a>
                        </div>
                        <div class="mb-m-clk">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </div>
                        <div class="ui secondary menu desk-m-nav">
                            <a href="/home" class="active item">
                            Home
                        </a>
                            <a href="/apps" class="item app-store">
                            Apps
                        </a>
                            <div class="ui dropdown item" tabindex="0"> Pricing
                                <i class="caret down icon"></i>
                                <div class="menu margin-t16 transition hidden" tabindex="-1">
                                    <a class="item" href="/memberfactory/pricing">MemberFactory</a>
                                    <a class="item" href="/coachrack/pricing">CoachRack</a>
                                    <a class="item" href="/rewardburst/pricing">RewardBurst</a>
                                </div>
                            </div>
                            <a href="/academy" class="item academy-tab">
                            Academy
                            </a>
                            <a href="https://labs.invanto.com/" class="item">
                            Labs
                            </a>
                            <a href="https://community.invanto.com/" class="item">
                            Contact Us
                            </a>

                            <div class="right menu">
                                <a href="/signin" class="item">
                                Login
                            </a>
                                <a class="item" href="/signup">
                                    <button type="button" class="ui button green inverted mini">Sign Up</button>
                                </a>
                            </div>
                        </div>
                        <div class="mb-left-side-menu">
                            <div class="logo">
                                <a href="https://www.invanto.com/">
                                    <img src="//dffiles.s3.amazonaws.com/2/media/images/invanto.png" width="100%">
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="overlay-right"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--header Ends Here-->


        <div class="main-header v2-index-banner" style="background-image: url(/bundles/dotfogcore/salespage/images/v2-home-page.png);">
        <div class="ui container">
            <div class="ui grid">
                <div class="sixteen wide mobile twelve wide tablet eight wide computer column">
                    <h1 class="text-shadow ">Turn your content into profitable businesses!</h1>
                    <h4>Invanto platform makes building online business fun again. Easily build beautiful online courses, membership sites, training portals, and a lot more.
                    </h4>
                    <h5 class="black">Trusted by entrepreneurs, trainers, and coaches worldwide.</h5>
                    <div class="spacer-20"></div>
                    <a class="ui button green huge" href="/signup">Get Started Here</a>
                </div>
            </div>
        </div>
    </div>


           <section id="photostack-1" class="photostack photostack-start">
				<div>
					<figure>
						<a href="#" class="photostack-img"><img src="image/img/1.jpg" alt="img01"/></a>
						<figcaption>
							<h2 class="photostack-title">Serenity Beach</h2>
						</figcaption>
					</figure>
					<figure>
						<a href="#" class="photostack-img"><img src="image/img/2.jpg" alt="img02"/></a>
						<figcaption>
							<h2 class="photostack-title">Happy Days</h2>
						</figcaption>
					</figure>
					<figure>
						<a href="#" class="photostack-img"><img src="image/img/3.jpg" alt="img03"/></a>
						<figcaption>
							<h2 class="photostack-title">Beautywood</h2>
						</figcaption>
					</figure>
					<figure>
						<a href="#" class="photostack-img"><img src="image/img/4.jpg" alt="img04"/></a>
						<figcaption>
							<h2 class="photostack-title">Heaven of time</h2>
						</figcaption>
					</figure>
					<figure>
						<a href="#" class="photostack-img"><img src="image/img/5.jpg" alt="img05"/></a>
						<figcaption>
							<h2 class="photostack-title">Speed Racer</h2>
						</figcaption>
					</figure>
					<figure>
						<a href="#" class="photostack-img"><img src="image/img/6.jpg" alt="img06"/></a>
						<figcaption>
							<h2 class="photostack-title">Forever this</h2>
						</figcaption>
					</figure>
					<figure data-dummy>
						<a href="#" class="photostack-img"><img src="img/7.jpg" alt="image/img07"/></a>
						<figcaption>
							<h2 class="photostack-title">Lovely Green</h2>
						</figcaption>
					</figure>
					<figure data-dummy>
						<a href="#" class="photostack-img"><img src="image/img/8.jpg" alt="img08"/></a>
						<figcaption>
							<h2 class="photostack-title">Wonderful</h2>
						</figcaption>
					</figure>
					<figure data-dummy>
						<a href="#" class="photostack-img"><img src="image/img/9.jpg" alt="img09"/></a>
						<figcaption>
							<h2 class="photostack-title">Love Addict</h2>
						</figcaption>
					</figure>
					<figure data-dummy>
						<a href="#" class="photostack-img"><img src="image/img/10.jpg" alt="img10"/></a>
						<figcaption>
							<h2 class="photostack-title">Friendship</h2>
						</figcaption>
					</figure>
					<figure data-dummy>
						<a href="#" class="photostack-img"><img src="image/img/11.jpg" alt="img11"/></a>
						<figcaption>
							<h2 class="photostack-title">White Nights</h2>
						</figcaption>
					</figure>
					<figure data-dummy>
						<a href="#" class="photostack-img"><img src="image/img/12.jpg" alt="img12"/></a>
						<figcaption>
							<h2 class="photostack-title">Serendipity</h2>
						</figcaption>
					</figure>
					<figure data-dummy>
						<a href="#" class="photostack-img"><img src="image/img/13.jpg" alt="img13"/></a>
						<figcaption>
							<h2 class="photostack-title">Pure Soul</h2>
						</figcaption>
					</figure>
					<figure data-dummy>
						<a href="#" class="photostack-img"><img src="image/img/14.jpg" alt="img14"/></a>
						<figcaption>
							<h2 class="photostack-title">Winds of Peace</h2>
						</figcaption>
					</figure>
					<figure data-dummy>
						<a href="#" class="photostack-img"><img src="image/img/15.jpg" alt="img15"/></a>
						<figcaption>
							<h2 class="photostack-title">Shades of blue</h2>
						</figcaption>
					</figure>
					<figure data-dummy>
						<a href="#" class="photostack-img"><img src="image/img/16.jpg" alt="img16"/></a>
						<figcaption>
							<h2 class="photostack-title">Lightness</h2>
						</figcaption>
					</figure>
				</div>
			</section>
        
         <section class="light-green-bg" style="padding:80px 0">
            <div class="ui container posrel c-black" align="center">
                <h1>We Are Just Getting Started!</h1>
                <h3 class="margin-t0">Join Invanto and you join our family.</h3>
                <div class="spacer-40"></div>
                <div class="ui three column grid">
                    <div class="column border-left user-board">
                        <img src="image/users-icon.png" style="height:95px"><br>
                        <h2>2.5k+</h2>
                        <h4>Awesome Users</h4>
                    </div>
                    <div class="column border-left user-board">
                        <img src="image/sales-icon.png" style="height:95px">
                        <h2>15M+</h2>
                        <h4>Orders Processed</h4>
                    </div>
                    <div class="column user-board">
                        <img src="image/email-icon.png" style="height:95px">
                        <h2>40M+</h2>
                        <h4>Emails Delivered</h4>
                    </div>
                </div>
                <div class="spacer-40"></div>
            </div>
        </section>

        <!--Footer-->
        <footer class="l-footer">
            <div class="ui container">
                <div class="ui grid margin0">
                    <div class="fourteen wide mobile eight wide computer column">
                        <h3>Get In Touch</h3>
                        <div class="socail-icon">
                            <a href="https://www.facebook.com/groups/tyontech/" target="_blank" style="color: #666666;"><i class="fa fa-facebook-square facebook" aria-hidden="true"></i></a>
                            <a href="https://twitter.com/tyontech" target="_blank" style="color: #666666;"><i class="fa fa-twitter-square twitter" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/company/tyontech" target="_blank" style="color: #666666;"><i class="fa fa-linkedin-square linkedin" aria-hidden="true"></i></a>
                        </div>
                        <p class="small">Or, email us at support@tyontech.com</p>
                    </div>
                    <div class="fourteen wide mobile eight wide computer column text-right">
                        <img src="/bundles/dotfogcore/om/images/logo-w.png">
                        <div class="ui secondary  menu">
                            <div class="right menu">
                                <a href="https://community.invanto.com/" class="item">
                            Help
                        </a>
                                <a href="https://labs.invanto.com/privacy/" class="item">
                            Privacy
                        </a>
                                <a href="https://labs.tyontech.com/terms/" class="item">
                            Terms
                        </a>
                            </div>
                        </div>
                        <p class="text small">© Copyright 2017 Tyontech Platform. All Rights Reserved.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="assets/js/slider-js/classie.js"></script>
		<script src="assets/js/slider-js/photostack.js"></script>
		<script>
			// [].slice.call( document.querySelectorAll( '.photostack' ) ).forEach( function( el ) { new Photostack( el ); } );
			
			new Photostack( document.getElementById( 'photostack-1' ), {
				callback : function( item ) {
					//console.log(item)
				}
			} );
		</script>
</body>

</html>